.contact_us{
  
  margin-bottom: 3rem;

  .contact-form {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
  }
  
  .form-group input,
  .form-group textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid $color-black;
  }
  
  button[type="submit"] {
    padding: 0.75rem;
    font-size: $base-size * 1.1;
    background-color: $color-brown;
    color: $color-white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 40%;
    margin: auto;
  }
  
  button[type="submit"]:hover {
    opacity: 0.9;
  }
}