*, *::before, *::after {
  box-sizing: border-box;
  // border: 1px solid black;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-text;
  font-size: 14px;
}


.container {
  max-width: 850px;
  margin: 0 auto;
  padding-top: 0.5rem;
}

.page{
  padding: 10px;
}

.section_title {
  font-size: $base-size * 2.5;
  text-transform: uppercase;
  color: $color-brown;
  letter-spacing: 10px;
  padding: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
}

.section_title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-brown;
}

.active {
  display: block;
}

section {
  display: none;
}

section.active {
  display: block;
}