.products__title {
  font-size: $base-size * 2.5;
  text-transform: uppercase;
  color: $color-brown;
  letter-spacing: 10px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.products__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-brown;
}

.row.product {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.row.product.reverse {
  flex-direction: row-reverse;
}

.product {

  margin: 40px 0;


  &__image img {
    width: 100%;
    height: auto;
    aspect-ratio: 553 / 422;
    display: block;
    box-shadow: 0 0 40px rgba(0,0,0,.6);
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: uppercase;
    font-size: $base-size * 2.0;
    letter-spacing: 3px;
    margin: 1rem 0;
  }

  &__text {
    height: 100%;
  }

  &__line {
    width: 40px;
    height: 2px;
    background: $color-brown;
  }

  &__name,
  &__number {
    margin: 0;
    text-transform: uppercase;
  }

  &__text-row {
    display: flex;
    gap: 1rem;
  }

  &__text-row p:first-child {
    flex: 0 0 20%;
  }

  &__text-row p:last-child {
    flex: 0 0 75%;
  }

  &__description {
    font-size: $base-size * 1.2;
    text-align: justify;
  }

  &__meta__item {
    text-transform: uppercase;
  }

  &__meta__rating {
    color: $color-brown;
  }
}

