.font-black {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.font-semibold {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.font-semibold-italic {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.font-bold {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.font-regular {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}